/* load fonts */
@font-face {
    font-family: 'Gilroy';
    src: url(resources/css/Gilroy-Regular.woff) format("woff");
}

/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

html {
    font-size: 16px;
}

.hide {
    display: none;
}

.fadeIn {
    animation: fade 0.5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1200px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #f3f2f2;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo img {
    width: 60px;

}

.logo p {
    font-weight: bold;
    color: #6a149b;
}

/* nav */
nav {

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li:last-child {
    padding-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #6a149b;
    padding: 10px;
}

/* main */
main {
    max-width: 1200px;
    margin: 0 auto;
}

/* bg image */
.stats {
    width: 100%;
    /*height: 600px;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(img/bg.jpg);
    background-size: cover;
}